{{>header}}

<div class="container-fluid containerTop colorPaginaFormularios">
  <div class="contFormularios contFormularioCrear">

 <div class="container-fluid">
      <div class="formularios text-center shadow p-3 mb-5 bg-white">

        <form action="/crearcurso" method="post">          
          <div class="form-group">
            <label for="categoria">Categoría</label>
              <select id="categoria" name="categoria" class="form-control">
                <option value="cultura">Cultura</option>
                <option value="diseno">Diseño</option>
                <option value="musica">Música</option>
                <option value="programacion">Programación</option>
              </select>
            </div>

            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
              <label for="duracion">Duración</label>
              <input type="text" class="form-control" id="duracion" name="duracion" required>
            </div>

            <div class="form-group">
              <label for="costo">Costo</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" id="costo" name="costo" required>
              </div>
          </div>

            <div class="form-group">
              <label for="modalidad">Modalidad</label>
              <select class="form-control" id="modalidad" name="modalidad" required>
                <option value="presencial">Presencial</option>
                <option value="virtual">Virtual</option>
              </select>
            </div>

            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea name="descripcion"></textarea>   
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-dark">Crear curso</button>
            </div>       
        </form>
        
      </div>
    </div>
  </div>
</div>

{{>footer}}