{{>header}}

<div class="container-fluid containerTop">
    {{>notificacion}}

    {{#Rol datos.rol value="coordinador"}}
        <p class="mensajeNoCursos">Información del coordinador</p>
    {{else}}

        <section id="cursosAbiertos" class="container-fluid text-center">
            <h1>Cursos Inscritos</h1>
            <ul class="row">
                {{#each cursosInscrito}} 
                    {{> cancelarCursos}}
                    {{else}}
                        <p class="mensajeNoCursos">No estás registrado a ningún curso todavía</p>
                {{/each}}         
            </ul>
            </section>
    {{/Rol}}
</div>
{{>footer}}