<ul class="nav navbar-nav ml-auto">
    <li class="nav-item nav-link">
      <a class="enlacesNav enlaces" href="/dashboard/crear">Crear cursos</a>
    </li>
    <li class="nav-item nav-link">
        <a class="enlacesNav enlaces" href="/dashboard/usuarios">Ver todos los usuarios</a>
    </li>
     <li class="nav-item nav-link">
        <a class="enlacesNav enlaces" href="/dashboard/Cursos">Cursos</a>
    </li>
    <li class="nav-item dropdown">
      
        <a class="nav-link dropdown-toggle datosUsuario" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{>foto}}{{datos.nombre}}</a>
      <div class="dropdown-menu">
        <form method="post" action="/dashboard/actualizar">
          <input type="hidden" name="id" value="{{datos.identidad}}">
          <input type="submit" name="" class="dropdown-item enlacesNav" value="Actualizar">              
        </form>
        <a class="dropdown-item enlacesNav" href="/salir">Cerrar sesión</a>
    </div>
  </li>
</ul>
